@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@section UserStyle {
    <link rel="stylesheet" href="~/css/User/Posts/StylePost.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/User/Users/StyleProfile.css" asp-append-version="true" />
}
<div class="pt-5"  id="editProfileModal">
    @Html.Partial("_Profile", Model.Profile)

    <section id="postFeed" class="posts d-flex align-items-start justify-content-center flex-column w-100 my-5">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("~/Areas/User/Views/Shared/_Post.cshtml", post)
        }
    </section>
</div>
@await Component.InvokeAsync("CategoryList", new { UserId = Model.Profile.UserId });
@section Scripts{
    <partial name="_UserScript" />
    <partial name="_PostScript" />
    <partial name="~/Areas/User/Views/Shared/Follows/_FollowerFollowingScript.cshtml" />

    <script>
        $(document).ready(function () {
            // Attach a click event listener to delete buttons
            $('.category-link').on('click', function (event) {
                event.preventDefault();
                const categoryId = $(this).data('id'); 
                const UserId = $(this).data('userid');
                console.log("CategoryId: ", categoryId, "UserId: ", UserId);
                filterPostsByCategory(categoryId, UserId);

            });
        });
        function filterPostsByCategory(categoryId, UserId) {
            $.ajax({
                url: `/User/Users/FilterPosts`, // Update with actual controller if needed
                type: 'GET',
                data: { categoryId: categoryId, UserId: UserId },
                success: function (result) {
                    $("#postFeed").html(result);
                },
                error: function () {
                    Swal.fire("Failed to load posts.");
                }
            });
        }
    </script>
}


