
@{
    ViewData["Title"] = "ConfirmEmail";
}
@section Style {
    <link rel="stylesheet" href="~/css/StyleMessage.css" />
}
<section class="page">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-between flex-column p-4 w-50">
                <div class="title">Email Confirmed Successfully</div>
            </div>
            <div class="img w-50">
                <img src="~/Images/Account/success.png" class="w-75" />
            </div>
        </div>
</section>


