@model ForgetPasswordViewModel;
@{
    ViewData["Title"] = "ForgetPassword";
}
@section Style {
    <link rel="stylesheet" href="~/css/StyleForm.css" />
}
<section>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <form class="w-50 d-flex align-items-center justify-content-between flex-column" method="post" asp-action="ForgetPassword" asp-controller="Accounts">
                <div class="title">Forget Password</div>
                <div class="input-field  d-flex align-items-start justify-content-center flex-column w-100">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="w-100" />
                </div>
                <div class="input-field w-100">
                    <button type="submit" class="w-100">Send Email</button>
                </div>
            </form>
            <div class="img w-50">
                <img src="~/Images/Account/ForgotPassword.png" class="w-75" />
            </div>
        </div>
    </div>
</section>

