@model NewPasswordViewModel;
@{
    ViewData["Title"] = "NewPassword";
}

@section Style {
    <link rel="stylesheet" href="~/css/StyleForm.css" />
}
<section>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <form class="w-50 d-flex align-items-center justify-content-between flex-column" method="post" asp-action="NewPassword" asp-controller="Accounts">
                <div class="title">New Password</div>
                <input asp-for="Email" class="w-100" type="hidden" />
                <input asp-for="Token" class="w-100" type="hidden" />

                <div class="input-field d-flex align-items-start justify-content-center flex-column w-100">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" class="w-100" />
                </div>
                <div class="input-field d-flex align-items-start justify-content-center flex-column w-100">
                    <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                    <input asp-for="ConfirmNewPassword" class="w-100" />
                </div>
                <div class="input-field w-100">
                    <button type="submit" class="w-100">Change Password</button>
                </div>
            </form>
            <div class="img w-50">
                <img src="~/Images/Account/NewPassword.png" class="w-75" />
            </div>
        </div>
    </div>
</section>

