@model IEnumerable<CategoryViewModel>

<div class="sidemenu w-25">
    <ul class="w-100 d-flex flex-column align-content-start justify-content-around">
        <a href="javascript:void(0)" class="category-link" data-id="0" data-UserId="@(ViewBag.UserId ?? "")">
        <li>All</li></a>
        @foreach (var category in Model)
        {
            <a href="javascript:void(0)" class="category-link" data-id="@category.Id"  data-userId="@(ViewBag.UserId ?? "")"><li>@category.Name</li></a>
        }
    </ul>
</div>
