@model ChangePasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    @* Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/User/Users/StyleEditProfile.css" asp-append-version="true" />
</head>
<body>
    <section>
        <div class="heading w-100 d-flex align-items-center justify-content-center flex-column py-3">Change Password</div>
        <form class="d-flex align-items-start justify-content-center flex-column p-4 addPostForm" id="ChangePasswordForm" method="post" enctype="multipart/form-data">
@*             <input asp-for="Id" type="hidden" /> *@
            <div class="form-input d-flex align-items-start justify-content-center flex-column">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword"class=" mt-2" >
            </div>
            <div class="form-input d-flex align-items-start justify-content-center flex-column">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword"  class="mt-2">
            </div>
            <div class="form-input d-flex align-items-start justify-content-center flex-column">
                <label asp-for="NewPasswordConfirmation"></label>
                <input asp-for="NewPasswordConfirmation" class=" mt-2">
            </div>
        </form>
    </section>
</body>
</html>
@* id="exampleInputPassword1" *@