@model IEnumerable<FollowViewModel>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Following</title>
    <link rel="stylesheet" href="~/css/User/Posts/StyleLike.css" asp-append-version="true" />
</head>
<body>
    <section class="followings">
        <div class="title">Following</div>
        @foreach (var following in Model)
        {
            <partial name="~/Areas/User/Views/Shared/Follows/_follow.cshtml" model="following" />
        }
    </section>
</body>
</html>