@model UpdateCommentViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create comment</title>
    <link rel="stylesheet" href="~/css/User/Posts/StyleCreatePost.css" asp-append-version="true" />
</head>
<body>
<section>
        <div class="title text-center w-10">Update Comment</div>
        <form class="d-flex align-items-start justify-content-center flex-column p-4 UpdateCommentForm" id="UpdateCommentForm">
            <input asp-for="PostId" type="hidden" value="@Model.PostId" />
            <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            <input asp-for="CommentId" type="hidden" value="@Model.CommentId" />
        <textarea class="w-100 my-3" placeholder="Words are free. It’s how you use them that may cost you" asp-for="Content"></textarea>
    </form>
</section>
</body>
</html>